.button_type_close {
  background-image: url(../../../images/vector-cross.svg);
  transform: rotate(45deg);
  background-size: cover;
  width: 41px;
  height: 41px;
  position: absolute;
  top: -44px;
  right: -44px;
}

@media screen and (max-width: 618px) {
  .button_type_close {
    width: 25px;
    height: 25px;
    top: -39px;
    right: -3px;
  }
}
