.profile__description {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  grid-column: span 2;
}

@media screen and (max-width: 917px) {
  .profile__description {
    font-size: 14px;
    line-height: 17px;
  }
}
